
data/
models/
outputs/
*.pt
*.pth
*.jsonl

pg_data/
neo4j_data/
qdrant_data/


__pycache__/
*.pyc
.env
apikey.txt

analyst/
*.md
*.txt
!requirements.txt

evaluation/results/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.vscode/
.idea/
.DS_Store
Thumbs.db
